mixin about()
  section.about(id="about")
    .container
      .about__inner
        h2.about__title Морозова Кира
        p.about__paragraph Работаю в интегративном и телесно-ориентированном подходе
        p.about__description Я психолог, травматерапевт, специалист по работе с эмоциональной зависимостью. Работаю  в интегративном подходе.<br>Но особая любовь  - к телесно-ориентированной терапии. Почему?<br>Потому что тело  - не врет.<br>Я помогаю людям справляться с тревогой и укреплять самооценку, семьям – легко договариваться, желающим развития в социальных сферах – раскрыть себя и свой потенциал, преодолеть сомнения и страхи. Всем – достичь своего личного счастья.<br>Моя Суперсила – в эффективной и глубокой терапии. А еще в том, что я занимаюсь очень нужным и, что особенно для меня ценно, любимым делом.<br>Результаты и изменения мои клиенты чувствуют после первой сессии.
      .about__img
        picture
          source(srcset="img/kira-morozova.webp, img/kira-morozova@2x.webp 2x", type="image/webp")
          img(src="img/kira-morozova.png", srcset="img/kira-morozova@2x.png 2x", alt="Кира Морозова, психолог", width="534", height="482")
