mixin experience()
  section.experience(id="experience")
    .container
      h2.experience__title Мой опыт
      ul.experience__list
        li.experience__item
          h3 2014
          p «Институт повышения квалификации специалистов профессионального образования». Диплом о профессиональной переподготовке поbr программе «Практическая психология»
        li.experience__item
          h3 2021-2022
          p «Институт психотерапии и клинической психологии». Диплом о профессиональной переподготовке «Психологическое консультирование. Телесно – ориентированная психотерапия»
        li.experience__item
          h3 2022
          p Обучающая программа для психологов и психотерапевтов «Маяк 2». «Работа с травмой насилия. Работа с сексуальной травмой. Работа с детскими травмами. Работа с нарциссической травмой»
        li.experience__item
          h3 2023
          p ООО Центр психологического образования Собборус. «Системные расстановки в телесно-ориентированном подходе»
        li.experience__item
          h3 2022-2023
          p ООО Центр психологического образования Собборус. «Супервизия в соматической психологии»
        li.experience__item
          h3 2023
          p Обучающая программа для психологов и психотерапевтов «Маяк 3». «Грани безумия. Уровни развития и типы организации личности, психиатрия для психологов, суицидальное поведение»
        li.experience__item
          h3 2023-2024
          p ООО «Маяк». Удостоверение о повышении квалификации «Современные вопросы психологии зависимости»
        li.experience__item
          h3 2024
          p НОЧУ «Евразийский институт соматической психотерапии и практик»  «Работа с нарушениями детско – родительских отношений»
