mixin principles()
  section.principles
    .container
      h2.principles__title Принципы работы
      ul.principles__list
        li.principles__item
          h3 Конфиденциальность
          p Вся информация, полученная от клиента, является абсолютно конфиденциальной
          p
            |*Уважение к клиенту как к личности вне зависимости от возраста, пола, сексуальной ориентации, национальности,
            br
            | социально-экономического статуса и других оснований
        li.principles__item
          h3
            | Безоценочность
            br
            | и беспристрастность
        li.principles__item
          h3 Профессиональная компетентность и развитие
          p Постоянно повышаю уровень своих профессиональных навыков, имею личную терапию, регулярно  прохожу супервизию. Все техники телесно-ориентированной терапии, которые предлагаю клиентам, проведены через собственный телесный опыт
        li.principles__item
          h3 Безоплатная ознакомительная сессия
          p Даю возможность , по запросу, провести 15-тиминутную диагностическую сессию для выявления первичного запроса и определе-ния, подхожу ли я вам как специалист. На этой сессии у вас будет возможность убедиться, что я на вашей стороне, настроена доброжелательно и не буду вас оценивать
        li.principles__item
          h3
            | Продолжительность
            br
            | сессий
          p Одна сессия (очная\онлайн) – 50 минут
        li.principles__item
          h3 Стоимость
          p Индивидуальная консультация  - от 3500 руб
          p Семейная консультация пары – от 4500 руб
          p Детская консультация – от 2500 руб
