mixin services()
  section.services(id="services")
    .container
      h2.services__title Услуги
      .services__swiper
        ul.services__list.swiper-wrapper
          li.swiper-slide
            .services__inner
              h3 Индивидуальная консультация
              p Главный предмет в личной терапии – это собственная психологическая реальность человека, уникальное восприятие себя и окружающих событий. Я сопровождаю вас на пути самопознания, бережно и мощно, без внешних оценок и необходимости соответствовать чужим ожиданиям. Помогаю стабилизировать эмоцио- нальное состояние, найти внутренние опоры и ресурсы, и реализовывать в «жизнь» ваш новый опыт.
            .services__img
              picture
                source(srcset="./img/servis/individual.webp, ./img/servis/individual@2x.webp 2x", type="image/webp")
                img(src="./img/servis/individual.jpg", srcset="./img/servis/individual@2x.jpg 2x", alt="Сеанс индивидуальной терапии: психолог с блокнотом беседует с клиентом", width="288", height="372")
          li.swiper-slide
            .services__inner
              h3
                | Семейная
                br
                | консультация
              p Помогаю партнерам понимать свои эмоции, уметь говорить о них и договариваться между собой.
              p В парной терапии с клиентами мы разбираем коммуникацию между ними и выясняем, что происходит в процессе общения, как они реагируют друг на друга и на семейную систему  в  целом.
              p
                | Работаю как с парами, так и как
                br
                | ко-терапевт одного из партнеров
            .services__img
              picture
                source(srcset="./img/servis/family.webp, ./img/servis/family@2x.webp 2x", type="image/webp")
                img(src="./img/servis/family.jpg", srcset="./img/servis/family@2x.jpg 2x", alt="Семейная консультация: партнёры обсуждают эмоции и поддержку в терапевтической обстановке", width="288", height="372")
          li.swiper-slide
            .services__inner
              h3
                | Детская
                br
                | консультация
              p Направлена на диагностику и восстановление эмоциональной сферы и поведенческих реакций ребенка через установление доверительных отношений с ним, формирование эмоциональной связи и контакта.
              p В своей работе использую преимущественно проективные методики и такие направления и методы работы с детьми, как гештальт-терапия, арт-терапия, символдрама, игровая терапия.
            .services__img
                picture
                  source(srcset="./img/servis/consultation.webp, ./img/servis/consultation@2x.webp 2x", type="image/webp")
                  img(src="./img/servis/consultation.jpg", srcset="./img/servis/consultation@2x.jpg 2x", alt="Детская консультация: ребёнок рисует под наблюдением терапевта в безопасной обстановке", width="288", height="372")
          li.swiper-slide
            .services__inner
              h3
                | Групповая
                br
                | терапия
              p
                | Мои группы – для тех, кто хочет
                br
                | иссле-доватьсебя и свои отношения с други-ми людьми. Это будут живые процессы – эмоции, переживания, поддержка.  Именно в групповой работе есть воз-можность, через динамику группы, увидеть  ваше типичное поведение и способы общения и ,при желании, откорректировать их. Безопасное и конфиденциальное пространство организую в онлайн формате – а это значит, что есть возможность
                br
                | присое-диниться из любой точки мира.
            .services__img
                picture
                  source(srcset="./img/servis/therapy.webp, ./img/servis/therapy@2x.webp 2x", type="image/webp")
                  img(src="./img/servis/therapy.jpg", srcset="./img/servis/therapy@2x.jpg 2x", alt="Групповая терапия: участники сидят в кругу, протягивая руки к центру в знак поддержки", width="288", height="372")
        .services__pagination
          .services__buttons.services__buttons--active(aria-label="Слайд 1", type="button")
          .services__buttons(aria-label="Cлайд 2", type="button")
          .services__buttons(aria-label="Cлайд 3", type="button")
      +btn.services__button(text="Записаться на прием", data-open-modal="feedback")
