mixin themes()
  section.themes(id="themes")
    .themes__bc
      picture
        source(srcset="./img/back.webp, ./img/back@2x.webp 2x", type="image/webp")
        img(src="./img/back.jpg", srcset="./img/back@2x.jpg 2x" alt="" loading="lazy" decoding="async" width="1920" height="1001")
    .container
      h2.themes__title Ко мне можно обратиться со следующими запросами
      ul.themes__list
        li.themes__item
          h3.themes__subtitle Отношения с собой\самооценка
          ul.themes__sublist
            li.themes__subitem Стать увереннее в себе
            li.themes__subitem Повысить самооценку
            li.themes__subitem Разобраться в своих истинных желаниях
            li.themes__subitem Научиться говорить «нет»
            li.themes__subitem Научиться выстраивать личные границы
            li.themes__subitem Избавиться от тревоги, страхов, токсичных чувств, мешающих жить
            li.themes__subitem Депрессия\тревожность
            li.themes__subitem Хроническая усталость\стресс
            li.themes__subitem Беременность\материнство
        li.themes__item
          h3.themes__subtitle Отношения в паре
          ul.themes__sublist
            li.themes__subitem Построить отношения с партнером
            li.themes__subitem Пережить измену\развод
            li.themes__subitem Любовная зависимость\ созависимость
            li.themes__subitem Неудовлетворенность браком
            li.themes__subitem Кризис в отношениях
        li.themes__item
          h3.themes__subtitle Работа с детьми
          ul.themes__sublist
            li.themes__subitem Диагностика и профилакти- ка эмоциональных, пове- денческих и иных проблем у ребенка (тревожность, страхи, агрессия и другое)
            li.themes__subitem Взаимодействие и консультация с родителями и семьей
        li.themes__item
          h3.themes__subtitle Деньги
          ul.themes__sublist
            li.themes__subitem Увеличение заработка
            li.themes__subitem Системные\семейные установки, «слив» денег
            li.themes__subitem Тормозящие факторы/ страхи и программы, мешающие зарабатывать
        li.themes__item
          h3.themes__subtitle Психосоматика
          ul.themes__sublist
            li.themes__subitem Работа с симптомом через работу с психикой и телом
            li.themes__subitem Расстройства пищевого поведения (РПП)
            li.themes__subitem Возрастные кризисы
