.about {
  padding: 100px 0 115px;

  @include vp-767 {
    padding: 40px 0;
  }

  h2 {
    font-size: 48px;
    line-height: 37px;
    color: #000000;
    font-weight: 400;
    font-family: "Playfair Display", sans-serif;
    margin: 0 0 22px;

    @include vp-767 {
      font-size: 35px;
      text-align: center;
    }
  }

  &__img {
    @include vp-767 {
      img {
        width: 100%;
      }
    }
  }

  .container {
    display: grid;
    grid-template-columns: 52% 48%;
    padding: 0 89px 0 48px;
    max-width: 1400px;
    margin: 0 auto;
    gap: 67px;

    @include vp-1279 {
      padding: 0 24px;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
    }

    @include vp-767 {
      grid-template-columns: 1fr;
      padding: 0 15px;
      gap: 25px;
    }
  }

  &__paragraph {
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 17px;
    letter-spacing: 0.01em;

    @include vp-767 {
      font-size: 18px;
      line-height: 18px;
      text-align: center;
    }
  }

  &__description {
    font-size: 18px;
    letter-spacing: 0.01em;
    line-height: 24px;
    margin: 0 0 46px;

    @include vp-767 {
      font-size: 16px;
      line-height: 18px;
      margin: 0;
    }
  }

  &__button {
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    font-weight: 400;
    font-family: "Roboto";
    border-radius: 24px;
    border: 2px solid #857367;
    width: 212px;
    height: 48px;
    background-color: transparent;
    cursor: pointer;
    display: block;
  }
}
