.banner {
  position: relative;
  min-height: 703px;
  background-color: #a7802c;
  z-index: 0;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 374px 20px 93px;

    @media(max-width: 1279px) {
      padding: 10% 24px;
    }

    @media(max-width: 767px) {
      padding: 20% 15px;
    }
  }

  @include vp-1279 {
    min-height: 350px;
  }

  &__bc {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__title {
    margin: 0 0 50px;
    text-align: center;
    font-size: 74px;
    letter-spacing: 0.10em;
    line-height: 65px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Playfair Display", sans-serif;
    filter: drop-shadow(0.209px 5.996px 3.5px rgba(0,0,0,0.26));

    @include vp-1279 {
      font-size: 60px;
    }

    @include vp-767 {
      font-size: 34px;
      line-height: 36px;
      margin: 0 0 25px;
    }
  }

  &__description {
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 24px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 400;
    font-family: "Roboto";
    text-align: center;
    filter: drop-shadow(0.209px 5.996px 3.5px rgba(0,0,0,0.26));
    margin: 0 0 38px;

    @include vp-1279 {
      font-size: 20px;
      line-height: 20px;
    }

    @include vp-767 {
      font-size: 18px;
      line-height: 18px;
    }
  }

  &__btn {
    margin: 0;
    padding: 20px;
    border: 2px solid #ffffff;
    background-color: transparent;
    font-size: 20px;
    line-height: 15px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Roboto";
    text-align: center;
    width: 258px;
    height: 58px;
    border-radius: 29px;
    cursor: pointer;
    display: block;
  }
}
