.contacts {
  padding: 109px 0 93px;
  color: #ffffff;
  background-color: #454545;

  @include vp-767 {
    padding: 40px 0;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 40px;
  }

  &__title {
    margin: 0 0 70px;
    font-size: 36px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 400;
    font-family: "Playfair Display", sans-serif;

    @include vp-767 {
      margin: 0 0 20px;
      line-height: 30px;
      font-size: 30px;
    }
  }

  &__wrapper {
    font-weight: 900;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 820px;

    a {
      color: #ffffff;
    }

    @include vp-767 {
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
  }

  &__list {
    display: flex;
    max-width: 184px;
    flex-wrap: wrap;
    padding: 0;
    list-style-type: none;
    margin: 0;
    gap: 5px;
  }

  &__link {
    border: 1px solid #ffffff;
    border-radius: 100%;
    width: 28px;
    display: flex;
    height: 29px;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;

    &--whatsapp {
      background-image: url("../img/icon/wh.png");

      &:hover {
        background-image: url("../img/icon/wh-2.png");
      }
    }

    &--instagram {
      background-image: url("../img/icon/inst.png");

      &:hover {
        background-image: url("../img/icon/inst-2.png");
      }
    }

    &--vk {
      background-image: url("../img/icon/vk.png");

      &:hover {
        background-image: url("../img/icon/vk-2.png");
      }
    }

    &--tg {
      background-image: url("../img/icon/tg.png");

      &:hover {
        background-image: url("../img/icon/tg-2.png");
      }
    }

    &:hover {
      background-color: #ffffff;
    }
  }
}

.container {

  &--bottom {
    flex-direction: row;
    justify-content: space-between;
  }
}
