.diplomas {
  padding: 103px 0 119px;
  background-color: #768686;

  @include vp-767 {
    padding: 40px 0;
  }

  .container {
    max-width: 1475px;
    padding: 0 70px 0 86px;
    position: relative;

    @include vp-1279 {
      padding: 0 60px;
    }

    @include vp-767 {
      padding: 0 15px;
    }
  }

  &__swiper {
    overflow: hidden;

    @include vp-767 {
      margin-bottom: 30px;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
  }

  li {
    flex-shrink: 0;
  }

  &__controls {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 0;
    top: 43%;
    padding: 0 20px;

    @include vp-767 {
      position: static;
      justify-content: center;
      gap: 32px;
    }
  }

  &__button {
    width: 33px;
    height: 33px;
    background-color: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
    background-image: url("../img/svg/button.svg");
    background-repeat: no-repeat;

    &--next {
      transform: rotate(180deg);
    }

    &:hover {
      opacity: 0.6;
    }
  }

  &__link {
    display: block;
    background-color: #ffffff;
    padding: 15px 10px;

    img {
      @include vp-1279 {
        width: 100%;
      }
    }
  }
}
