.footer {
  &__bottom {
    background-color: #000000;
    color: #ffffff;
    padding: 11px 0 10px;

    .container {
      display: flex;
      justify-content: space-between;

      @include vp-767 {
        flex-direction: column;
        align-items: center;
      }
    }

    a {
      color: #ffffff;
    }
  }
}
