.header {
  padding: 12px 0 10px;
  position: sticky;
  background-color: #ffffff;
  width: 100%;
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, .2);
  top: 0;
  right: 0;
  z-index: 20;
  left: 0;

  .container {
    display: flex;
    align-items: center;
    padding: 0 39px 0 46px;

    @include vp-1279 {
      justify-content: flex-start;
      padding: 0 24px;
    }

    @include vp-767 {
      padding: 0 15px;
    }
  }

  &__logo {
    margin-right: 6%;

    img {
      max-width: 121px;
    }
  }
}
