.modal-form {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__field {
    position: relative;
  }

  &__control {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    font-family: inherit;
    width: 100%;
  }

  &__submit {
    align-self: flex-start;
    padding: 15px;
    background-color: #857367;
    width: 100%;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;

    &:hover {
      background-color: #4d2810;
    }
  }
}