.nav {
  width: 100%;
  display: flex;

  @include vp-1279 {
    justify-content: end;
  }
}

.nav__wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;

  @include vp-1279 {
    display: none;

    &--visible {
      display: flex;
      flex-direction: column;
      position: absolute;
      left: 0;
      top: 100%;
      right: 0;
      bottom: 0;
      background-color: #ffffff;
      z-index: 20;
      width: 100%;
      height: 500px;
      overflow: hidden;
      overflow-y: auto;
    }
  }
}

.nav__toggle {
  order: 1;
  margin-left: 20px;
  border: 0;
  padding: 0;
  width: 32px;
  height: 32px;
  background-color: transparent;
  position: relative;
  cursor: pointer;

  // три линии
  &::before,
  &::after,
  span {
    content: "";
    position: absolute;
    left: 0;
    width: 32px;
    height: 2px;
    background-color: #000000;
    transition: transform 0.3s ease, top 0.3s ease, opacity 0.3s ease;
  }

  &::before {
    top: 8px;
  }

  span {
    top: 15px;
  }

  &::after {
    top: 22px;
  }

  &--opened {
    &::before {
      top: 15px;
      transform: rotate(45deg);
    }

    span {
      opacity: 0;
    }

    &::after {
      top: 15px;
      transform: rotate(-45deg);
    }
  }

  @include vp-1280 {
    display: none;
  }
}

.nav__list {
  display: flex;
  gap: 28px;
  padding: 0;
  margin: 0;
  list-style-type: none;

  @include vp-1279 {
    flex-direction: column;
    margin: 0 auto 30px;
  }
}

.nav__link {
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  color: #4d4d4d;
  position: relative;

  @include vp-1279 {
    font-size: 30px;
    line-height: 43px;
  }

  &:hover {
    color: #000000;
  }

  &:hover::after {
    content: "";
    width: 100%;
    position: absolute;
    height: 2px;
    display: block;
    background-color: #000000;
  }
}

.nav__phone {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-left: auto;
  margin-right: 37px;
  position: relative;
  font-size: 18px;
  line-height: 24px;
  color: #4d4d4d;
  font-weight: 900;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  padding-left: 17px;

  &::after {
    content: "";
    width: 12px;
    height: 13px;
    background-image: url("../img/svg/tel.svg");
    position: absolute;
    top: 5px;
    left: 0;
    background-repeat: no-repeat;
    background-position: center;
  }

  &:hover {
    color: #000000;
  }

  @include vp-1279 {
    margin: 0 auto 20px;
  }
}
