.principles {
  padding: 113px 0 82px;
  color: #ffffff;
  background-color: #36a415;
  min-height: 778px;

  @include vp-767 {
    padding: 40px 0;
  }

  .container {
    padding: 0 50px;

    @include vp-1279 {
      padding: 0 24px;
    }

    @include vp-767 {
      padding: 0 15px;
    }
  }

  &__title {
    text-transform: uppercase;
    font-size: 36px;
    line-height: 27px;
    font-family: "Playfair Display", sans-serif;
    text-align: center;
    margin: 0 0 74px;
    font-weight: 400;

    @include vp-767 {
      margin: 0 0 20px;
      line-height: 30px;
      font-size: 30px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 64px;
    row-gap: 70px;
    margin: 0;
    padding: 0;
    list-style-type: none;

    @media (max-width: 1150px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 768px) {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 30px;
    }

    h3 {
      font-size: 24px;
      letter-spacing: 0.03em;
      line-height: 28px;
      margin: 0 0 15px;

      @include vp-767 {
        text-align: center;
      }
    }

    p {
      font-size: 16px;
      line-height: 18px;

      @include vp-767 {
        text-align: center;

        br {
          display: none;
        }
      }
    }
  }

  &__item {
    position: relative;
    padding-left: 50px;

    @include vp-767 {
      padding-left: 0;
      padding-top: 30px;
    }

    &::after {
      content: "";
      position: absolute;
      top: -8px;
      left: 0;
      width: 35px;
      height: 36px;
      background-image: url("../img/svg/arrow.svg");
      background-repeat: no-repeat;

      @include vp-767 {
        left: 50%;
      }
    }
  }
}
