.services {
  padding: 128px 0 103px;

  @include vp-767 {
    padding: 80px 0;
  }

  .container {
    padding: 0 48px 0 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include vp-1279 {
      padding: 0 24px;
    }

    @include vp-767 {
      padding: 0 15px;
    }
  }

  &__swiper {
    @include vp-767 {
      overflow: hidden;
      align-self: stretch;
    }
  }

  &__title {
    font-weight: 400;
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;
    font-family: "Playfair Display", sans-serif;
    color: #000000;
    margin: 0 0 77px;

    @include vp-767 {
      margin: 0 0 20px;
      line-height: 30px;
      font-size: 30px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
    row-gap: 28px;
    padding: 0;
    list-style-type: none;
    margin: 0 0 80px;

    @include vp-767 {
      display: flex;
      margin: 0 0 25px;
      row-gap: 0;
      column-gap: 0;
    }

    li {
      background-color: #827064;
      color: #ffffff;
      max-width: 639px;
      display: grid;
      grid-template-columns: 55% 1fr;
      height: auto;

      @include vp-1279 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      @include vp-767 {
        flex-shrink: 0;
        max-width: 100%;
        min-height: 503px;
      }
    }

    img {
      height: 100%;
      object-fit: cover;
      width: 100%;

      @include vp-1279 {
        height: 300px;
        object-position: top;
      }
    }
  }

  &__pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;

    @include vp-768 {
      display: none;
    }
  }

  &__buttons {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #827064;
    background-color: transparent;
    display: block;

    &--active {
      background-color: #827064;
    }
  }
}

.services__inner {
  padding: 33px 30px 0 22px;

  h3 {
    margin: 0 0 21px;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.02em;

    @include vp-767 {
      font-size: 20px;
      line-height: 20px;
    }
  }

  p {
    font-size: 16px;
    line-height: 18px;

    @include vp-767 {
      margin: 0;
    }
  }

  @include vp-1279 {
    min-height: 300px;
  }

  @include vp-767 {
    min-height: 170px;
    padding: 15px 10px;
  }
}

.services__button {
  padding: 10px;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  border-radius: 28px;
  border: 2px solid #857367;
  background-color: transparent;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 212px;
  font-family: "Roboto", sans-serif;
  height: 50px;
  cursor: pointer;
  display: block;

  &:hover {
    background-color: #857367;
    color: #ffffff;
  }
}
