.themes {
  padding: 100px 0 104px;
  background-color: #1aa2ac;
  position: relative;
  z-index: 0;

  @include vp-767 {
    padding: 80px 0;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  &__bc {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    counter-reset: section;
    margin: 0;
    padding: 0;
    list-style-type: none;

    @include vp-1279 {
      grid-template-columns: repeat(2, 1fr);
    }

    @include vp-767 {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__title {
    font-size: 36px;
    line-height: 36px;
    margin: 0 0 74px;
    text-transform: uppercase;
    color: #ffffff;
    font-family: "Playfair Display", sans-serif;
    text-align: center;
    font-weight: 400;

    @include vp-767 {
      font-size: 30px;
      line-height: 30px;
      margin: 0 0 20px;
    }
  }

  &__subtitle {
    margin: 0 0 29px;
    font-size: 24px;
    letter-spacing: 0.02em;
    line-height: 24px;
    color: #4d4d4d;
    font-weight: 900;
    text-align: center;

    @media (max-width: 768px) {
      font-size: 20px;
    }
  }

  &__sublist {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
}

.themes__item {
  padding: 37px 20px 33px;
  background-color: #ffffff;
  position: relative;
  z-index: 1;
  min-width: 244px;
  overflow: hidden;

  @include vp-1279 {
    min-height: 293px;
  }

  @include vp-767 {
    padding: 20px 10px;
    min-height: 250px;
  }

  &:first-child {
    grid-column: 1 / 5;
    padding: 37px 19px 42px;

    @include vp-1279 {
      grid-column: 1 / 3;
    }

    @include vp-767 {
      grid-column: 1 / 2;
      padding: 20px 10px;
    }

    .themes__sublist {
      column-count: 2;
      padding: 0 50px;

      @media(max-width: 768px) {
        column-count: 1;
        padding: 0;
      }
    }

    &::after {
      bottom: 0;
      right: 89px;

      @include vp-1279 {
        right: 0;
      }
    }
  }

  &::after {
    content: counter(section);
    counter-increment: section;
    font-size: 325px;
    line-height: 260px;
    display: block;
    font-family: "Playfair Display", sans-serif;
    color: #f2f2f2;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
  }
}

.themes__subitem {
  font-size: 18px;
  position: relative;
  padding-left: 15px;
  margin-bottom: 10px;

  &::before {
    content: "";
    width: 6px;
    height: 6px;
    display: block;
    background-color: #4d4d4d;
    border-radius: 50%;
    position: absolute;
    top: 7px;
    left: 0;
  }

  @media (max-width: 768px) {
    font-size: 16px;
  }
}
