@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2");
  src: url("../fonts/Roboto-Regular.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  font-weight: 900;
  src: url("../fonts/Roboto-black.woff2") format("woff2");
  src: url("../fonts/Roboto-black.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  font-weight: 400;
  src: url("../fonts/PlayfairDisplay-Regular.woff2") format("woff2");
  src: url("../fonts/PlayfairDisplay-Regular.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  font-weight: 900;
  src: url("../fonts/PlayfairDisplay-Bold.woff2") format("woff2");
  src: url("../fonts/PlayfairDisplay-Bold.woff") format("woff");
  font-style: normal;
  font-display: swap;
}
